amqp==1.4.9
anyjson==0.3.3
autocorrect==0.3.0
billiard==3.3.0.23
boto==2.45.0
celery==3.1.23
datefinder==0.6.0
dateparser==0.5.0
dj-database-url==0.4.1
Django==1.9.1
django-celery==3.1.17
django-storages==1.5.2
google-api-python-client==1.5.3
gunicorn==19.6.0
httplib2==0.9.2
jdatetime==1.8.1
kombu==3.0.35
MySQL-python==1.2.5
nltk==3.2.1
numpy==1.11.2
oauth2client==3.0.0
psycopg2==2.6.2
py-mysql2pgsql==0.1.6
pyasn1==0.1.9
pyasn1-modules==0.0.8
python-dateutil==2.6.0
python-decouple==3.0
pytz==2016.6.1
PyYAML==3.12
regex==2016.11.21
requests==2.11.1
rsa==3.4.2
ruamel.ordereddict==0.4.9
ruamel.yaml==0.13.2
schedule==0.3.2
simplejson==3.8.2
six==1.10.0
textblob==0.11.1
typing==3.5.2.2
tzlocal==1.2.2
umalqurra==0.2
uritemplate==0.6
virtualenv==15.1.0
whitenoise==3.2.2
