{% load staticfiles %}
<div class="back-head light-blue" ng-cloak>
    <div class="spacing"></div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content"> 
                        <h2 class="blue-text text-darken-4 center flow-text"><b>Take MailAssist with you</b></h2>
                        <h3 class="flow-text blue-grey-text text-darken-1 center">The MailAssist you know and love, designed to work best on Smartphones and Tablets.</h3>
                        <div class="row">
                            <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                                <div class="spacing"></div>
                                <img src="{% static 'core/img/app.png' %}" alt = 'App' class="img-responsive">
                            </div>
                            <div class="col s12 m6 l4 offset-l2 center">
                                <div class="spacing"></div>
                                <a class = 'waves-effect waves-light btn-large red darken-1 l-but'>Get it on Google Play</a>
                            </div>
                            <div class="col s12 m6 l4 center">
                                <div class = 'spacing'></div>
                                <a class = 'waves-effect waves-light btn-large cyan darken-4 l-but'>Get it on App Store</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacing"></div>
</div>