<div class="container">

	<div class = 'spacing'></div>
	<div class = 'spacing'></div>
    <div class = "row">
        <div class = "col s10 offset-s1">
            <h3>This page appears to be missing</h3>
            <h5>It might be that we had to rename it. Don’t worry though: Just click below to return to our homepage.</h5>
		</div>
		<div class = "col s10 offset-s1">
			<div class = 'spacing'></div>
			<a href = '#/' class="waves-effect waves-light btn-large red darken-1 n-but">MailAssist Home</a>
			<div class = 'spacing'></div>
		</div>
	</div>

</div>