{% load staticfiles %}
<div class="back-head light-blue" ng-cloak>
    <div class="spacing"></div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content"> 
                        <h1 class="blue-text text-darken-4 center flow-text"><b>Always at your service</b></h1>
                        <h3 class="flow-text blue-grey-text text-darken-1 center">Install MailAssist Browser Add-on and .</h3>
                        <div class="row">
                            <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                                <div class="spacing"></div>
                                <img src="{% static 'core/img/plugin.png' %}" alt = 'Plugin' class="img-responsive">
                            </div>
                            <div class="col s12">
                                <div class="spacing"></div>
                                <div class="spacing"></div>
                                <h3 class="flow-text blue-grey-text text-darken-1 center">Currently MailAssist Extensions are only available for Google Chrome.</h3>
                            </div>
                            <div class="col s12 m6 l4 offset-l2 center">
                                <div class="spacing"></div>
                                <a class = 'waves-effect waves-light btn-large red darken-1 l-but'>Install MailAssist Task Addon</a>
                            </div>
                            <div class="col s12 m6 l4 center">
                                <div class = 'spacing'></div>
                                <a class = 'waves-effect waves-light btn-large teal accent-3 l-but'>Install MailAssist Mail Parser Addon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacing"></div>
</div>